<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="flex-stuffs">
    
    <aside class="side left-side">
      <div>
        <i class="fa-brands fa-twitter twt-icon"></i>
        <div class="icons">
          <div class="inner-icons" routerLink="/home" >
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </div>
          <div class="inner-icons" routerLink="main/message" >
            <i class="fa-solid fa-message"></i>
            <span>Message</span>
          </div>
          
          <div class="inner-icons" routerLink="/notification">
            <i class="fa-solid fa-bell"></i>
            <span>Notification</span>
          </div>
          <div class="inner-icons" routerLink="main/bookmark" >
            <i class="fa-solid fa-bookmark"></i>
            <span>Bookmark</span>
          </div>
          <div class="inner-icons" routerLink="/profile" >
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
          </div>
          <div class="inner-icons" routerLink="/settings">
            <i class="fa-solid fa-tools"></i>
            <span>Settings</span>
          </div>
          <div class="inner-icons">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>More</span>
          </div>
        </div>
  
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </aside>
  
  
    <div class="right-sections">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</body>
</html>