.alert {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  position: fixed;
  top: 42px;
  left: 42%;
  z-index: 10000;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  animation: slideFade 0.4s ease-out;
}

.alert-icon {
  font-size: 1.5rem;
}

.alert-text {
  flex: 1;
}


.success {
  background-color: #e6fff0;
  color: #2dda55;
  box-shadow: 0 6px 12px rgba(45, 218, 85, 0.3);
}

.error {
  background-color: #ffe6e9;
  color: #eb2337;
  box-shadow: 0 6px 12px rgba(235, 35, 55, 0.3);
}

.info {
  background-color: #e6faff;
  color: #1dc4ee;
  box-shadow: 0 6px 12px rgba(29, 196, 238, 0.3);
}

@keyframes slideFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
